[Unit]
Description= Keeping updated the linux mint mirror repositories
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/linuxmint-mirror-sync.sh
TimeoutStartSec=1800
User=root