{# This template is an nginx configuration file for
    delivering the mirror#}
    
    {#Loop section for delivering all mirror content #}

    {% for mirror in mirrors %}
    location /{{mirror.name}}/ {
        alias {{mirror.path}};

        # Directory listing
        autoindex on;
        autoindex_exact_size off;
        autoindex_localtime on;

        # Where Nginx will log almalinux requests
        access_log {{mirror.access_log}};
        error_log {{mirror.error_log}};

        # Browsers will cache the content for as long as possible
        expires max;
    }
    {% endfor %}
