apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-db-pvc
  namespace: gitops
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "longhorn"
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-data-pvc
  namespace: gitops
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "longhorn"
  resources:
    requests:
      storage: 80Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-html-pvc
  namespace: gitops
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "longhorn"
  resources:
    requests:
      storage: 15Gi
---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud-db
  namespace: gitops
spec:
  ports:
  - port: 3306
    targetPort: 3306
  selector:
    app: nextcloud-db
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nextcloud-db
  namespace: gitops
spec:
  selector:
    matchLabels:
      app: nextcloud-db
  serviceName: "nextcloud-db"
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nextcloud-db
    spec:
      containers:
      - name: mariadb
        image: mariadb:11
        imagePullPolicy: Always
        args:
          - "--transaction-isolation=READ-COMMITTED"
          - "--log-bin=binlog"
          - "--binlog-format=ROW"
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "1"
      volumes:
      - name: mysql-data
        persistentVolumeClaim:
          claimName: nextcloud-db-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  namespace: gitops
  labels:
    app: nextcloud
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nextcloud
  template:
    metadata:
      labels:
        app: nextcloud
    spec:
      containers:
        - name: nextcloud-app
          image: docker.io/library/nextcloud:31
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nextcloud-html
              mountPath: /var/www/html
            - name: nextcloud-data
              mountPath: /var/www/nextcloud/data
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "4Gi"
              cpu: "2"
        - name: nextcloud-collabora
          image: docker.io/collabora/code:24.04.12.4.1
          imagePullPolicy: Always
          env:
            - name: domain
              value: "cloud.lidsol.unam.mx"
            - name: "extra_params"
              value: "--o:ssl.enable=false --o:ssl.termination=true"
            - name: aliasgroup1
              value: "https://cloud.lidsol.unam.mx:443"
          ports:
            - containerPort: 9980
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1"
        - name: nextcloud-redis
          image: docker.io/library/redis:7
          imagePullPolicy: Always
          ports:
            - containerPort: 6379
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
      volumes:
        - name: nextcloud-html
          persistentVolumeClaim:
            claimName: nextcloud-html-pvc
        - name: nextcloud-data
          persistentVolumeClaim:
            claimName: nextcloud-data-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud
  namespace: gitops
  labels:
    app: nextcloud
spec:
  selector:
    app: nextcloud
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: collabora
      protocol: TCP
      port: 9980
      targetPort: 9980
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nextcloud-ingress
  namespace: gitops
  annotations:
    cert-manager.io/issuer: "https-issuer"
    nginx.ingress.kubernetes.io/proxy-body-size: "10G"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
      - cloud.lidsol.unam.mx
    secretName: httpsnextcloud-tls
  - hosts:
      - office.lidsol.unam.mx
    secretName: httpsoffice-tls
  rules:
  - host: cloud.lidsol.unam.mx
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nextcloud
            port:
              number: 80
  - host: office.lidsol.unam.mx
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nextcloud
            port:
              number: 9980
